<% if flash.now[:danger] %>
    <div class="alert alert-danger text-center" role="danger"><%= flash.now[:danger] %>
    </div>
 <% end %>


<div class='container'>
    <div class='row justify-content-center'>
    <div class='col-lg-3 text-center'>
  <br>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="panel panel-info" >
        <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
        </div>
    </div>
    <br>
    <%= label_tag 'Email' %>
    <%= text_field_tag 'email', '', class: "form-control mainbox", placeholder:"Entre ton email !" %>
    <br>

    <%= label_tag 'Password' %>
    <%= text_field_tag 'password', '', class: "form-control mainbox", type:"password", placeholder:"Entre ton mot de passe !" %>
    <br>
    


    <%= submit_tag "Connexion", class: "btn btn-primary" %>
    <br>

    <div>
    <br><br>
    <div class="d-flex justify-content-center links">

        Don't have an account?  <%= link_to "Sign up", new_user_path%>
    </div>

  <% end %>
  </div>
  </div>
</div>