<form class="container">
  <div class="panel panel-info text-center" >
      <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
      </div>
  </div>

<%= form_for([@user]) do |f| %>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">First name</label>
      <%= f.text_field :first_name, class: "form-control", id:"validationServer01", placeholder:"Ton prénom", required: true %>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Last name</label>
      <%= f.text_field :last_name, class: "form-control", id:"validationServer01", placeholder:"Ton nom", required: true %>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServerEmail">Email</label>
        <div class="input-group-prepend">
        </div>
        <%= f.text_field :email, class: "form-control", id:"validationServer01", placeholder:"Ton email", required: true %>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer03">City</label>
      <%= f.text_field :city, class: "form-control", id:"validationServer01", placeholder:"Ta ville", required: true %>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer04">Age</label>
      <%= f.number_field :age, min:"0", class: "form-control", id:"validationServer01", placeholder:"Ton âge", required: true %>
    </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-12">
      <label for="validationServer05">Description</label>
      <%= f.text_field :description, class: "form-control", id:"validationServer01", placeholder:"Ta description" %>
      </div>

    <div class="col-md-6 mb-6">
      <label for="validationServer05">Mot de Passe</label>
      <%= f.password_field :password, class: "form-control", id:"validationServer01", placeholder:"Ton mot de passe", required: true %>
    </div>

    <div class="col-md-6 mb-6">
      <label for="validationServer05">Confirme ton mot de Passe</label>
      <%= f.password_field :password_confirmation, class: "form-control", id:"validationServer01", placeholder:"Confirme ton mot de passe", required: true %>
    </div>

  </div>
  <%= f.submit "Bienvenue chez nous", class: "btn btn-primary" %>
  <% end %>
</form>
