<html>
  <body>
    <% if @gossip.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Nous n'avons pas réussi à updater le potin pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='container'>
      <br>
      <%= form_for @gossip, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
        <%= label_tag 'Titre' %>
        <%= f.text_field :title, class: "form-control" %>
        <br>
        <%= label_tag 'Gossip' %>
        <%= f.text_area :content, class: "form-control"%>
        <br>
        <%= f.submit "Editer ton potin", class: "btn btn-primary" %>
      <% end %>
    </div>
  </body>
</html>